body {

    margin: 0;
    /* background-color: rgb(255, 255, 255); */
    padding: 0;
    background-image: linear-gradient(rgb(38, 38, 38), rgb(18, 18, 18), rgb(0, 0, 0));
    overflow-x: hidden;
    /* position: absolute; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.navbar {
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 24vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-left: 1.5vw;
    font-size: 2.3vh;
    /* font-size: 1.05vw; */



}

.logoo {
    display: flex;
    flex-direction: row;
    padding-top: 3.5vh;

    padding-bottom: 2.2vh;


    font-size: 3.8vh;
}

#logo {

    background-image: url(spotify.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    margin-right: 7px;
    border-radius: 40px;
}

#name {
    margin-top: 0.5vh;
}



.item {
    display: flex;
    flex-direction: row;
    margin-top: 2.5vh;
}

.icon {
    /* margin-top: 2px; */
    width: 25px;
    height: 25px;

    background-color: rgb(0, 0, 0);
    margin-right: 1vw;
}

#home {
    background-image: url(homepage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#homename {
    color: rgb(255, 255, 255);

}

:hover.name {
    animation: name 0.3s linear;
    color: white;
}

@keyframes name {
    0% {
        color: rgb(187, 187, 187);

    }

    100% {
        color: rgb(255, 255, 255);

    }

}

.name {
    color: rgb(187, 187, 187);
    margin-top: 0.7vh;
}

#search {
    background-image: url(search.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#library {
    background-image: url(library.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#playlist {
    background-image: url(tab.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

#liked {
    background-image: url(thumbs-up.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 253, 252);
    border-radius: 20px;
    width: 25px;
    height: 25px;
}

.navup {
    /* background-color: red; */
    width: 73vw;
    display: flex;
    position: fixed;
    top: 2vh;
    z-index: 10;
    left: 26.5vw;
}

.btn {
    width: 32px;
    align-items: center;
    height: 32px;
    border-radius: 40px;
    border: none;
    font-size: 2vw;
    background-color: rgb(0, 0, 0);
}

#next {
    color: white;
    margin-left: 13px;
    background-image: url(next.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#before {
    color: white;
    margin-left: 13px;
    background-image: url(before.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.upgrade {
    font-size: 15px;
    width: 75px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0.1px solid rgb(168, 168, 168);
    border-radius: 20px;
    padding: 7px;
    color: white;
    position: absolute;
    right: 15vw;
}

:hover.upgrade {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}

.username {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    padding: 4px 5px 4px 3px;
    text-align: center;
    border-radius: 15px;
    color: white;
    width: 170px;
    background-color: black;
    position: absolute;
    right: 1vw;

}

:hover.username {
    background-color: rgb(48, 48, 48);
}

#userpic {
    width: 25px;
    height: 25px;
    background-image: url(person.png);
    background-size: cover;

    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgb(118, 117, 117);
}

#username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3px;
    padding-left: 6px;
}

.songs {
    color: white;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 12vh;
    width: 100vw;
    font-size: 2.23vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 30vw;
}


:hover::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);

}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(58, 57, 57); */
    /* border-radius: 10px; */
    background-image: linear-gradient(rgb(38, 38, 38), rgb(18, 18, 18), rgb(0, 0, 0));


    /* color: black; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(142, 142, 142);
    /* border-radius: 10px; */
}

.boxes {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 70vw;
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    margin: 20px;
    height: 270px;
    background-color: rgb(37, 37, 37);
}

:hover.box {
    background-color: rgb(50, 50, 50);
}

.pic {
    width: 150px;
    height: 170px;
    border-radius: 7px;
    background-image: url(https://play-lh.googleusercontent.com/x1Wb3lyzFgnmmLHoDYWEjWba8sm1-y3fCX4IPxynTUUTpyNejwMpQe8kkvHhtr4S4g=w240-h480-rw);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(69, 69, 69);
    margin: 13px auto 0 auto;
}

#box2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/f/fa/Billie_Eilish_and_Khalid_-_Lovely.png);
    background-size: cover;

}

#box3 {
    background-image: url(https://i.scdn.co/image/ab6761610000e5eb11d0343dc3387fc183dab2e0);
    background-size: cover;

}

#box4 {
    background-image: url(https://i.pinimg.com/736x/e4/aa/e6/e4aae66db3def99d228a5bc928a858f2--ios--hd-photos.jpg);
    background-size: cover;


}

#box5 {
    background-image: url(https://i.scdn.co/image/ab6761610000e5ebf2855e25f1d9c8a20bcc85ae);
    background-size: cover;
}

#box6 {
    background-image: url(https://seed-mix-image.spotifycdn.com/v6/img/artist/5WUlDfRSoLAfcVSX1WnrxN/en/default);
    background-size: cover;
}


.songname {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 7px;

    text-align: center;
}

.dis {

    margin-left: 20px;
    width: 160px;

    margin-top: 2px 5px 2px 2px;
    text-align: center;
    color: rgb(147, 147, 147);
    font-size: 15px;
}

@media (min-width:0px) and (max-width:500px) {

    .username {
        left: 60vw;
    }

    .btn {
        visibility: hidden;
    }

    .logoo {
        font-size: 4vw;
    }

    #logo {
        width: 25px;
        height: 25px;
    }
.icon{
    width: 17px;
    height: 17px;
}
#library{
    width: 17px;
    height: 17px;
}
#liked{
    width: 17px;
    height: 17px;
}
.navbar{
    font-size: 3.5vw;
    width: 35vw;
    
}
.navup{
    /* font-size: vw; */
}
.songs{
    left: 40vw;   
    font-size: 6vw;
}
    body{
        height:110vh;
}
